body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #ffffff;
    background: #111111;
}

:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #111111;
}

@keyframes girusTextAnimation {
    0% {
        margin-top: 0
    }
    50% {
        transform: rotate(-11deg);
        margin-top: -10%
    }
    100% {
        transform: rotate(11deg);
        margin-top: -10%;
    }

}

.girus-text {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto 25pt 0 25pt;
    align-items: center;
    text-align: center;
    animation: girusTextAnimation 3s alternate;
}

.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50pt;
    width: 50pt;
    border-color: #767676;
    border-style: outset;
    border-width: 2pt;
    border-radius: 10%;
    color: var(--white);
    background-color: var(--black);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /*left: 50%;*/
    /*top: 50%;*/
    visibility: hidden;
}
