body {
    overflow: hidden;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 8px;
    margin: 0 auto;
    scroll-margin: 0;
    display: flex;

    height: calc(100% - 16px);
    width: calc(100% - 16px);
    /*height: 100vh;*/
    /*width: 100vw;*/
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: Inter, sans-serif;
    color: var(--text-color);
    background: var(--background-color);

}

:root {
    --background-color: #111111;
    --dark-1: #222222;
    --dark-2: #30363d;
    --dark-3: #383f47; /*Select color*/
    --white: #ffffff;
    --light-3: #474747;
    --light-2: #7e7e7e; /*Disabled color*/
    --text-color: var(--white);
    --light-1: #9e9e9e /*Link color*/
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.bordered {
    border-color: var(--dark-2);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: var(--background-color);
    border-color: var(--dark-2);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 11pt;
    color: var(--white);
    user-select: none;
    user-focus: none;
}

.btn:hover {
    border-color: #6E7681;
    background-color: #1a1a1a;
    cursor: pointer;
}

.btn:active {
    border-color: #6E7681;
    background-color: var(--background-color);
}

.link-btn {
    position: relative;
    min-height: 46px;
    min-width: 146px;
    margin: 3px;
    text-decoration: none;
}

.social-btn {
    position: relative;
    min-height: 46px;
    min-width: 46px;
    margin: 3px;
}


input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-grid;
    background-color: #111111;
    margin: 0 0 0 4px;
    font: inherit;
    line-height: 5px;
    align-self: center;
    color: currentColor;
    width: 13px;
    height: 13px;
    border: 2px solid #6b6b6b;
    border-radius: 50%;
    /*transform: translateY();*/
    place-content: center;
}

input[type="radio"]:checked {
    /*background-color: #999999;*/
}

input[type="radio"]::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 10px 10px #999999;
}

input[type="radio"]:checked::before {
    transform: scale(1);
    /*background-color: #00FF00;*/
}

.slider {
    left: 1%;
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    height: 10%;
    width: 100%;
    border-radius: 5px;
    min-height: 10px;
    max-height: 10px;
    outline: none;
    top: 2%;
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #424242;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #424242;
    cursor: pointer;
}

.projects {
    position: absolute;
    left: 0.25%;
    bottom: 0.25%;
    display: flex;
    padding: 5px;
    flex-direction: column-reverse;
}

.main_text {
    text-align: center;
    justify-content: center;
    margin: 0;
    max-height: 75%;
    width: 27.5%;
}

.socials {
    position: absolute;
    right: 0.25%;
    bottom: 0.25%;
    display: flex;
    padding: 5px;
    flex-direction: column-reverse;
}

.options-container {
    top: 2%;
    left: 0.25%;
    height: 10%;
    gap: 10%;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row nowrap;
    width: 100%;
}


.mobile-image {
    display: none;
}


table {
    border: var(--dark-1);
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 5px 20px;
    border: 1px solid var(--dark-2);
    border-radius: 2px;
}

th {
    border-bottom: 2px solid var(--dark-2);
    border-radius: 2px;
}

tbody tr:nth-child(odd) {
    background-color: var(--dark-1);
}

hr {
    border: 0;
    height: 2px;
    background: var(--dark-2);
}

a {
    color: var(--light-1)
}

kbd {
    background-color: var(--dark-1);
    border-radius: 5px;
    padding: 4px;
    color: var(--white);
    font-size: 11.25pt;
    width: fit-content;
}

code {
    font-size: 11pt;
}

sup, sub {
    display: inline-block;
    font-size: 70%;
}

.section-link {
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    translate: -1ch;
}


h1:hover .section-link, h2:hover .section-link, h3:hover .section-link, h4:hover .section-link, h5:hover .section-link, h6:hover .section-link {
    opacity: initial;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 10vh;
}

.section-link:hover {
    opacity: initial;
}

div.footnote {
    display: block;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    width: 100%;
}

a.footnote {
    color: var(--light-1);
    cursor: pointer;
    text-decoration: none;
}
