h1 {
    font-size: 21pt;
}
h2 {
    font-size: 18pt;
}
h1 > .smallcaps {
    font-size: 15pt;
}
h2 > .smallcaps {
    font-size: 13pt;
}
body {
    overflow: visible;
    position:relative;
    top: 8px;
    left: 0;
    bottom: 1rem;
    right: 0;
}
.project img{
    width: 300px;
    margin: 10px;
    border: 2px solid var(--accent-2); /* choose a color */
    border-radius: 6px;
    display: block;
    margin: auto;
    overflow:hidden;
}

