
body {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    scroll-margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #ffffff;
    background: var(--primary_color);
}

:root {
    --primary_color: #111111;
    --magic_number: 131%;
    --magic_number_mult: 0;
}

@keyframes wool-rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }

}

.rainbow_wool {
    position: relative;
    left: calc(var(--magic_number) * var(--magic_number_mult));
    height: 69.420%;

    content: url("./wool.png");
    color: white;
    filter: hue-rotate(180deg) opacity(100%);
    overflow: hidden;
    animation: wool-rainbow 3s infinite;

}

.hotbar {
    justify-content: center;
    content: url("widgets.png");
    height: 10%;
    position: absolute;

}
.parent {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyBindText {
    position: absolute;
    bottom: 10%;
}
.topText {
    position: absolute;
    top: 10%
}