body {
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

canvas {
    position: relative;
    left: 1.5%;
    top: 15%;
    max-width: 90%;
    max-height: 65%;
    aspect-ratio: 1;
    outline: #010101 5px inset;
}

.slide-container {
    order: 0;
    position: relative;
    justify-content: center;
}
.slides-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    left: 1%;
    height: 100%;
}

/*#sidesSliderContainer {*/
/*    order: 0;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/



#checkbox-container {
    position: relative;
    flex-flow: column wrap;
    gap: 10%;
    display: flex;
    max-height: 70%;
    order: 2;
    top: -6%;
}

#rotation-slider-container {
    top: 50%
}
#rotationCount {
    position: relative;
    top: -250%;
}
#polygonSidesCount {
    position: relative;
    top: -250%;
}
@media (max-width: 600px){
    .options-container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    #checkbox-container {
        top: 10%;
        width: 90%;
        justify-content: center;
    }
    .slides-container {
        width: 90%;
    }
    canvas {
        top: 7.5%;
    }
}
