:root {
    --trial: 1;
    --move-anim-len: 4;
    --new-left: 0%;
    --new-top: 0%;
    --random-deg: 11;
    --random-deg-div-2: 5.5;
    --green: #00FF00;
    --white: #ffffff;
    --button-size: 75px;
}

@keyframes button-rage {
    from {
        transform: rotate(0) translate(0, 0);
    }
    95% {
        transform: rotate(3600deg) translate(500%, 500%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes button-collapse {
    50% {
        font-size: 0;
    }
    90% {
        font-size: 0;
        height: 0;
        border-width: 2px;
    }
    100% {
        border-width: 0;
        visibility: hidden;
    }

}

.nest {
    position: absolute;
    text-align: center;
    width: max-content;
    top: 0;
    transition: 0.3s;
    z-index: -1;
}

.main-button {
    position: absolute;
    left: 50%;
    top: 50%;
    height: var(--button-size);
    width: var(--button-size);
    color: var(--white);
    background-color: var(--background-color);
    user-select: none;
    user-focus: none;
    cursor: pointer;
}

.btn.main-button:active {
    background-color: #FF000044;
}


.trick2 {
    user-select: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: #181818;
    transition: 1.0s;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /*left: 50%;*/
    /*top: 50%;*/
    visibility: hidden;
}

.button-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-evenly;
    visibility: hidden;
    width: 425px;
    height: 425px;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}