body {
    overflow: hidden;
    margin: 0;
    scroll-margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #ffffff;
    background: #111111;
}

:root {
    --trial: 1;
    --move-anim-len: 4;
    --new-left: 0%;
    --new-top: 0%;
    --random-deg: 11;
    --random-deg-div-2: 5.5;
    --green: #00FF00;
    --white: #ffffff;
    --black: #111111;
}

@keyframes girusTextAnimation {
    0% {
        margin-top: 0
    }
    33% {
        transform: rotate(var(--random-deg));
        margin-top: -5%
    }
    90% {
        transform: rotate(var(--random-deg-div-2));
        margin-top: -5%;
        font-size: initial;
    }
    100% {
        margin-top: -5%;
        font-size: 0;
    }


}

@keyframes button-move {
    to {
        top: var(--new-top);
        left: var(--new-left);
    }
}

@keyframes button-rage {
    from {
        transform: rotate(0) translate(0, 0);
    }
    95% {
        transform: rotate(3600deg) translate(500%, 500%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes button-fade {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }

}

@keyframes button-collapse {
    50% {
        font-size: 0;
    }
    90% {
        font-size: 0;
        height: 0;
        border-width: 2px;
    }
    100% {
        border-width: 0;
        visibility: hidden;
    }

}

.nest {
    position: relative;
    top: 50%;
    left: -50%;
}


.girus-text {
    position: absolute;
    margin: 0 0 0 25pt;
    animation: girusTextAnimation 1s alternate;
}

.animation {
    animation: button-move var(--move-anim-len) s running;
}

.rage-spin {
    animation: button-rage 3s;
}

.btn {

    position: absolute;
    left: 50%;
    top: 50%;
    height: 75px;
    width: 75px;
    border-color: #767676;
    border-style: outset;
    border-width: 2px;
    border-radius: 10%;
    color: var(--white);
    background-color: var(--black);
    user-select: none;
    user-focus: none;
}

.trick2 {
    user-select: none;
    visibility: hidden;
    position: absolute;
    color: #181818;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /*left: 50%;*/
    /*top: 50%;*/
    visibility: hidden;
}

.button_div {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-evenly;
    visibility: hidden;
    width: 425px;
    height: 425px;
}

@keyframes duplication {
    from {
        opacity: 100%;
    }
    to {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translate(0, 0)
    }

}

.duplication {
    animation: duplication 1.5s;
}
.link_btn {
    position: relative;
    min-height: 50px;
    min-width: 150px;
    margin: 3px;
    background: var(--primary_color);
    border-color: #30363D;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 11pt;
    color: var(--white);
    user-select: none;
    user-focus: none;
}

.link_btn:hover {
    border-color: #6E7681;
    background-color: #1a1a1a;
}

.link_btn:active {
    border-color: #6E7681;
    background-color: var(--primary_color);
}