body {
    overflow: hidden;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 8px;
    margin: 0 auto;
    scroll-margin: 0;
    display: flex;

    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
    /*height: 100vh;*/
    /*width: 100vw;*/
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #ffffff;
    background: var(--primary_color);
}

:root {
    --primary_color: #111111;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: var(--primary_color);
    border-color: #30363D;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 11pt;
    color: var(--white);
    user-select: none;
    user-focus: none;
}

.btn:hover {
    border-color: #6E7681;
    background-color: #1a1a1a;
}

.btn:active {
    border-color: #6E7681;
    background-color: var(--primary_color);
}

.link-btn {
    position: relative;
    min-height: 46px;
    min-width: 146px;
    margin: 3px;
    text-decoration: none;
}
.social-btn {
    position: relative;
    min-height:46px;
    min-width:46px;
    margin:3px;
}


input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-grid;
    background-color: #111111;
    margin: 0 0 0 4px;
    font: inherit;
    line-height: 5px;
    align-self: center;
    color: currentColor;
    width: 13px;
    height: 13px;
    border: 2px solid #6b6b6b;
    border-radius: 50%;
    /*transform: translateY();*/
    place-content: center;
}

input[type="radio"]:checked {
    /*background-color: #999999;*/
}

input[type="radio"]::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 10px 10px #999999;
}

input[type="radio"]:checked::before {
    transform: scale(1);
    /*background-color: #00FF00;*/
}

.slider {
    left: 1%;
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    height: 10%;
    width: 100%;
    border-radius: 5px;
    min-height: 10px;
    max-height: 10px;
    outline: none;
    top: 2%;
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #424242;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #424242;
    cursor: pointer;
}

.projects {
    position: absolute;
    left: 0.25%;
    bottom: 0.25%;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.main_text {
    text-align: center;
    justify-content: center;
    margin: 0;
    max-height: 75%;
    width: 27.5%;
}

.socials {
    position: absolute;
    right: 0.25%;
    bottom: 0.25%;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.optionsContainer {
    top: 2%;
    left: 0.25%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row nowrap;
}


/* snowflake animation from @pajasevi on github https://pajasevi.github.io/CSSnowflakes/ */
/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    visibility: hidden;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

@media (max-width: 600px) {
    .main_text {
        width: 90%;
    }
}
