@keyframes wool-rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }

}

.rainbow_wool {
    content: url("../pictures/wool.png");
    filter: hue-rotate(180deg) opacity(100%);
    animation: wool-rainbow 3s infinite;

}

.hotbar {
    display: flex;
    justify-content: center;
    /*background-image: url("widgets.png");*/
    /*background-size: contain;*/
    position: absolute;
    height: 10%;
    width: 27%;

}

.parent {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyBindText {
    color: white;
    position: absolute;
    right: 40%;
    left: 40%;
    bottom: 10%;
}

.topText {
    position: absolute;
    top: 10%
}

.slot {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 70%;
    width: 12.5%;

}

.widgetimg {
    user-select: none;
    position: absolute;
    height: 3.31vw;
}

.card {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    padding: 0.5vw 0;
    position: relative;
    height: 2.25vw;
}

.card::selection {
    background: none
}

.bank {
    justify-content: left;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    bottom: 1.25%;
    right: 0.69420%;
    outline: #222222 4px solid;
    max-height: 5.5%;
    height: 5.5%;
    width: 15.6%;
}


.btn {
    background: var(--background-color);
    border-color: #30363D;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 11pt;
    color: var(--white);
    user-select: none;
    user-focus: none;
}

.btn:hover {
    border-color: #6E7681;
    background-color: #1a1a1a;
}

.btn:active {
    border-color: #6E7681;
    background-color: var(--background-color);
}

.trainer-img {
    visibility: hidden;
    position: absolute;
    background: #111111;
    height: 250px;
    width: 250px;
    top: 15%;
}

.your-time {
    visibility: hidden;
    position: absolute;
    top: 15%;
    font-size: 20pt;
}

.under_hotbar {
    position: relative;
    top: 50%;
    display: flex;

}

.slot_button {
    margin: 0 0.5vw;
    height: 2vw;
    width: 2vw;
}

.trainer_btn {
    position: relative;
    height: 50px;
    width: 150px;
    margin: 3px;
}

.hide_hotbar {
    position: relative;
    height: 50px;
    width: 150px;
    margin: 3px;
}

.trainer_buttons {
    position: absolute;
    left: 0.25%;
    bottom: 0.5%;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

