
body {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    scroll-margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #ffffff;
    background: var(--primary_color);
}

:root {
    --primary_color: #111111;
    --magic_number: 131%;
    --magic_number_mult: 0;
}

@keyframes wool-rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }

}

.rainbow_wool {
    content: url("../pictures/wool.png");
    filter: hue-rotate(180deg) opacity(100%);
    animation: wool-rainbow 3s infinite;

}

.hotbar {
    display: flex;
    justify-content: center;
    /*background-image: url("widgets.png");*/
    /*background-size: contain;*/
    position: absolute;
    height: 10%;
    width: 27%;

}

.parent {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyBindText {
    color: white;
    position: absolute;
    right: 40%;
    left: 40%;
    bottom: 10%;
}

.topText {
    position: absolute;
    top: 10%
}

.slot {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 70%;
    width: 12.5%;

}

.widgetimg {
    user-select: none;
    position: absolute;
    height: 3.31vw;
}

.card {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    padding: 0.5vw 0;
    position: relative;
    height: 2.25vw;
}

.card::selection {
    background: none
}

.bank {
    justify-content: left;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    bottom: 1.25%;
    right: 0.69420%;
    outline: #222222 4px solid;
    max-height: 5.5%;
    height: 5.5%;
    width: 15.6%;
}


.btn {
    background: var(--primary_color);
    border-color: #30363D;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 11pt;
    color: var(--white);
    user-select: none;
    user-focus: none;
}

.btn:hover {
    border-color: #6E7681;
    background-color: #1a1a1a;
}

.btn:active {
    border-color: #6E7681;
    background-color: var(--primary_color);
}

.trainer-img {
    visibility: hidden;
    position: absolute;
    background: #111111;
    height: 250px;
    width: 250px;
    top: 15%;
}

.your-time {
    visibility: hidden;
    position: absolute;
    top: 15%;
    font-size: 20pt;
}

.under_hotbar {
    position: relative;
    top: 50%;
    display: flex;

}

.slot_button {
    margin: 0 0.5vw;
    height: 2vw;
    width: 2vw;
}

.trainer_btn {
    position: relative;
    height: 50px;
    width: 150px;
    margin: 3px;
}

.hide_hotbar {
    position: relative;
    height: 50px;
    width: 150px;
    margin: 3px;
}

.trainer_buttons {
    position: absolute;
    left: 0.25%;
    bottom: 0.5%;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.link_btn {
    position: relative;
    min-height: 50px;
    min-width: 150px;
    margin: 3px;
}

.projects {
    position: absolute;
    left: 0.25%;
    bottom: 0.5%;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.main_text {
    text-align: center;
    justify-content: center;
    margin: 0;
    max-height: 75%;
    width: 27.5%;
}

.socials {
    position: absolute;
    right: 0.25%;
    bottom: 0.5%;
    display: flex;
    padding: 5px;
    flex-direction: column;
}
/* snowflake animation from @pajasevi on github https://pajasevi.github.io/CSSnowflakes/ */
/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    visibility: hidden;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}